/* common style */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header start */
header{
    width: 100%;
    height: 70px;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left:200px ;
    padding: 20px;
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
}
header .nav ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
header .nav ul li a:hover{
    color: #7f97ff;
}

/*sECTION oNE sTART*/
.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.half1, .half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 160px;
    margin-top: 50px;
}
.half2 img{
    max-width: 100%;
    height: auto;
}
.half1 h3{
    font-weight: normal;
}
.half1 h1{
    font-size: 60px;
}
.half1 p{
    color: rgba(78, 78, 78, 0.7);
}
.half1 input{
    padding: 12px 25px;
    background-color: #8393ff;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px;
    cursor: pointer;
}
.half1 input:hover{
    box-shadow:5px 10px 30px rgba(130,147,255, 0.5);
    transition: all 0.5s ease-in 0.1s;
    outline: none;
}
/*sECTION oNE eND*/

/*sECTION tWO sTART*/
.section2{
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 div{
    width: 40%;
    margin: 0 auto;
}
.section2 img{
    width: 90%;
    height: auto;
}
.section2 .img2{
    padding-left: 150px;
}
.text2 h3{
    font-weight: normal;
    color: rgba(0,0,0, 0.7);
    font-size: 15px;
}
.text2 h1{
    font-weight: bold;
    font-size: 40px;
}
.text2 p{
    font-size: 16px;
    color: rgba(0,0,0,0.6);
    width: 80%;
}
.text2 input{
    font-size: 20px;
    padding: 12px 16px;
    outline: none;
    color: white;
    background-color: #8293ff;
    border: none;
}
.text2 input:hover{
    box-shadow:5px 10px 30px rgba(130,147,255, 0.5);
    transition: all 0.5s ease-in 0.1s;
    outline: none;
}
/*Section two end */

/*Section Three Start */
.section3{
    width: 100%;
    /* height: 650px; */
    margin: 0 auto;
    text-align: center;
}
.first__text h1{
    font-size: 40px;
    line-height: 10px;
}
.first__text p{
    width: 670px;
    color: rgba(0,0,0,0.6);
    margin: 0 auto;
}
.service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    gap: 30px;
}
.service i{
    font-size: 45px;
    color: rgba(0,0,0,0.7);
}
.service h1{
    color: rgba(0,0,0,0.9);
}
.service p{
    color: rgba(0,0,0,0.6);
}
.service div:hover{
    background-color: #8293ff;
    color: white;
}
.service div:hover i{
    color: white;
}
.service div:hover h1{
    color: white;
}
.service div:hover p{
    color: white;
}
/*Section Three End */

/*Section Four Start*/
.section4{
    width: 100%;
    height: 300px;
    background-color: #8293ff;
}
.section4__container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 100%;
    height: 100%;
}

.section4 h1{
    font-size: 45px;
    line-height: 0px;
}
.section4 h1,.section4 p{
    text-align: center;
    color: white;
}
/*Section Four End*/

/*Portfolio Part Start*/
.section5{
    width: 100%;
    box-sizing: border-box;
}
.section5 .text3{
    text-align: center;
    padding: 80px 0;
}
.section5 .text3 h1{
    font-size: 40px;
    color: rgba(0,0,0,0.9);
}
.section5 .text3 p{
    color: rgba(0,0,0, 0.7);
    margin-top: -20px;
    margin-bottom: 30px;
}
.section5 .img__container{
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}
.section5 .img__container div{
    width: 340px;
    height: 339px;
    padding-bottom: 80px;
    text-align: center;
}
.section5 .img__container h1{
    font-size: 20px;
    color: rgba(0,0,0,0.9);
}
.section5 .img__container p{
    color: rgba(0,0,0,0.7);
    line-height: 0;
}
.section5 figure{
    background: linear-gradient(40deg, #8490ff 40%, #62bdfc 100%);
    width: 340px;
    height: 339px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 3%;
}
.section5 figure:hover img{
    opacity: .3;
    transition: all .3s ease-in-out;
}
/*Portfolio Part End*/

/*Pricing Table Start*/
.section6{
    width: 100%;
    
    padding-top:50px ;
    margin: 80px 0;
}
.section6 .text4{
    text-align: center;
    padding: 2% 0;
}
.section6 .text4 h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.section6 .text4 p{
    color: rgba(0,0,0, 0.7);
}
.section6 .card{
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 0 auto;
}
.section6 .card1{
    width: 250px;
    height: 550px;
    background-color: rgb(249,249,249);
    text-align: center;
    border: 1px solid rgba(0,0,0, 0.1);
}
.section6 .card1 h1{
    font-size: 45px;
    padding-top: 8px;
}
.section6 .card1 .price{
    font-size: 35px;
}
.section6 .card1 input{
    outline: none;
    background-color: #8293ff;
    color: white;
    font-size: 20px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}
.section6 .card1:hover{
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130,147,255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5) ;
} 
.section6 .card1:hover input{
    color: rgba(0,0,0, 0.9);
    background-color: white;
}
/*Pricing Table End*/

/*Footer Start*/
footer{
    background-color: rgb(4,9,30);
    width: 100%;
    height: 50%;
    position: absolute;
    color: white;
    margin-top: 50px;
}

footer .foot{
    height: auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 100px;
    gap: 80px;
}
footer .foot .foot1 p{
    color: rgba(255,255,255,0.5);
}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
footer .foot .foot1 button{
    font-size: 18px;
    color: white;
    background-color: #8293ff;
    outline: none;
    border: none;
    cursor: pointer;
    padding:8px 15px ;
}
footer .foot .foot1 i{
    font-style: 15px;
    cursor: pointer;
    padding: 2px 5px;
}
footer .foot .foot1 i:hover{
    color: #8293ff;
}
/*Footer End*/


/* responsive part */
@media only screen and (max-width:576px) {
    header .logo{
        margin: 0;
        padding: 20px;
    }
    .nav{
        display: none;
    }
    .section1{
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 20px;
        padding: 30px;
    }
    .half1{
        margin: 0;
        width: 100%;
    }
    .section2{
        flex-direction: column;
        height: 100%;
        margin-top: 20px;
    }
    .section2 div{
        width: 100%;
        padding: 30px;
    }
    .section2 .img2{
        padding: 10px;
    }
    .first__text h1{
        font-size: 2rem;
    }
    .first__text p{
        width: 100%;
    }
    .service, .section4__container, .section6 .card, footer .foot{
        grid-template-columns: repeat(1, 1fr);
    }
    .section4{
        height: 100vh;
    }
    .section5 .img__container{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        height: 100vh;
    }
    footer .foot1{
        width: 100%;
        margin: 0 auto;   
    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .nav{
        display: none;
    }
    .section6 .card{
        grid-template-columns: repeat(2, 1fr);
    }
    .service{
        grid-template-columns: repeat(2, 1fr);
    }
    .section5 .img__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        
    }
    footer{
        height: 100vh;
    }
    footer .foot{
        grid-template-columns: repeat(1, 1fr);
    }
}